

<mat-toolbar color="primary" class="navigation">
  <div class="left-navigation">
    <div class="title-main">
     <div class="title-1">
       <img src=".\assets\images\psoft_logo.png" style="width: 100px;">
       <!-- <span>Leave Management System</span> -->
      </div>
     <div class="title-2">
       <!-- <span>Prismatic Softwares Pvt. Ltd.</span> -->
       <span>Prismatic Softwares Private Limited </span>
      </div>
   </div>

</div>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <div *ngIf="headerService.visible" class="navigation-links">
    <div class="user-data">
      <span>{{user.full_name | uppercase}} </span>
    <span> <span class="dot"></span> Logged in as {{role | uppercase}}  </span>
    </div>
    <div class="button-container">
      <button mat-fab color="accent" style="margin-right: 5px;" aria-label="Example icon button with a home icon" (click)="navigateToDashboard()">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-stroked-button routerLink="/profile">Profile</button>
      <button *ngIf="role === 'HR'" mat-stroked-button routerLink="/reports">Reports</button>
      <button  (click)="logout()" 
  mat-stroked-button style="margin-bottom: 8px;">
       Logout
  </button>
    </div>
  </div>
 
  
</mat-toolbar>

<!--
<nav class="navbar navbar-expand-md navbar-dark fixed-top my-bg" >
    <div class="container-fluid">
        <img class="navbar-brand" src="../../../assets/images/prissoft logo.png" alt="Logo Image" style="width: 4%;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class = "logo-text-content">
        <span class = "emp-text">LEAVE MANAGEMENT</span>
        <span class = "emp-text emp-payroll">SYSTEM</span>
        </div>
      <div *ngIf = "userToken!=null" class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"  routerLink="/home">Home</a>
          </li>
          <li class="nav-item add-leave">
            <a class="nav-link" href="#" routerLink="/add" style="
            color: white" >Add leave</a>
          </li>
          <li class="nav-item add-leave">
            <a class="nav-link" href="#" routerLink="/login" style="
            color: white" >Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
-->