

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-toolbar{
  height:fit-content ;
  padding-left: 20px;
  margin-bottom: 0px;
}
.title-main{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
.title-1{
  font-size: xx-large;
  font-family:'Times New Roman', Times, serif;
  margin-left: auto;
  margin-right: auto;
}
.title-2{
  font-size: medium;
  font-family:'Times New Roman', Times, serif;
}

.left-navigation{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 100px;
}

.navigation-links{
  margin: auto;
}

.mat-raised-button{
  margin: 20px;
  padding: 6px;
    min-width: 5%;
    min-height: 50px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
}

//Responsive css for display size less than 1000px

@media (max-width: 1000px) {
  .left-navigation{
    flex-direction:column;
  }
  .mat-toolbar{
    height: fit-content;
  }
  .example-fill-remaining-space{
    flex:0 0 auto;
  }
  .mat-toolbar{
    display: flex;
    flex-direction: column;
  }
  .button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .mat-fab{
    margin-left: auto;
    margin-right: auto;
  }
  .title-1{
    font-size: x-large;
  }
  .title-2{
    font-size: small;
  }
}