<div class="main-content" style="margin-left: -110px; margin-right: -110px">
  <div class="header-content" [hidden]=true>
    <div class="emp-detail-text" style="position: relative; top: 54px">
      Employee Leave Details
    </div>
  </div>
  <div class="row">
    <div class="col-md-8"> 
      <button mat-raised-button color="primary" (click)="navigateToAddLeave()">
        <span style="margin-top: 20px;"> Apply New Leave </span>
        <span style="font-size: 25px; margin-left: 10px;">+</span>
      </button>
    </div>
    <div class="col-md-2" style="position: relative; left: 114px">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="name"
      />
    </div>
    <div class="col-md-2"></div>
  </div>
  <br />

  <div class="table-main">
    <table id="display" class="table">
      <thead>
        <tr>
          <th>&nbsp; &nbsp;Id</th>
          <th class="text-center">Name</th>
          <th class="text-center">Email Address</th>
          <th class="text-center" style="word-spacing: 5px">Leave Type</th>
          <th class="text-center">Reason</th>

          <th class="text-center" style="word-spacing: 5px">Start Date</th>
          <th class="text-center" style="word-spacing: 5px">End Date</th>

          <th class="text-center">Actions</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>

      <tr *ngFor="let employee of employees | filter: name; let i = index">
        <td style="margin-top: 9px">{{ i + 1 }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.emailAddress }}</td>
        <td>{{ employee.leaveType }}</td>
        <td style="width: 19%">{{ employee.notes }}</td>

        <td>{{ employee.leaveStartDate | date: "MM/dd/yyyy" }}</td>
        <td>{{ employee.leaveEndDate | date: "MM/dd/yyyy" }}</td>

        <td>
          <button [disabled]="!employee.status" (click)="onClickDelete(employee.id)">
            <img
              src="../../../assets/icons/delete-black-18dp.svg"
              alt="delete"
            />
            <i class="bi bi-trash-fill"></i>
          </button> &nbsp;
          <button [disabled]="!employee.status" (click)="updateEmployeePayrollById(employee.id)">
            <img
              src="../../../assets/icons/create-black-18dp.svg"
              alt="edit"
            />
          </button>
        </td>
        <td><span [ngClass]="{'active':employee.status==true,'inactive':employee.status==false}"></span></td>
      </tr>
    </table>
  </div>
</div>
