table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .all-data{
      margin-top: 30px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  th {
    background-color: #4527a0;
    color: white;
  }
  tr:hover {background-color: rgb(202, 185, 233);}
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.container{
    width:auto ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
   
}
.example-fill-remaining-space{
    flex:0 0 auto;
  }
  .mat-radio-group{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
  }
.filters{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between
}

.search{
    display: flex;
    flex-direction: row;
}
.form-control{
    font-size: larger;;
}

._active{

    color: green;
}

.inactive{

    color: red;
}
.pending{
   color: blue;
}



