*{
  box-sizing: border-box;
}

.form-content {
    min-height: 40%;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    margin-top: 46px;
}
.form {
    width: 55%;
    padding: 44px 60px;
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}
.form-head {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    border: 0px solid green;
}
.label {
    min-width: 140px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}
.input{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
}
.profile-radio-content {
    display: flex;
    flex-direction: row;
  }
  .profile-radio-content > label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
  }    
  .select{
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      font: normal normal normal 16px Roboto;
      letter-spacing: 0px;
      color: #42515f;
      background-color: transparent;
  }
  .buttonParent {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-top: 20px;
    // margin-left:50px;
    // margin-right:50px;
  }
   .button {
     font-size: 20px;
     font-family: Roboto;
     letter-spacing: 0px;
     color: #707070;
     opacity: 1;
     background: #f5f5f5;
     border: none;
     font-weight: 400;
     min-width: 140px;
     padding: 7px 7px;
     border: 1px solid #707070;
     cursor: pointer;
     border-radius: 5px;
  }
   .submitButton {
     border: 1px solid #969696;
     background-color: #f5f5f5;
     margin-right: 50px;
     margin-left: 50px;
   }
  
   .cancelButton {
     border: 1px solid #969696;
     text-decoration: none;
     text-align: center;
     background-color: #f5f5f5;
   }
   .btn:active {
    box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
    /* Moving button 4px to y-axis */
}
