@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-deep-purple, 800);
$my-accent:  mat-palette($mat-deep-purple, 200);
$my-warn:    mat-palette($mat-deep-orange);
$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);
@include angular-material-theme($my-theme);