.leave-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .button-flex-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .row-content{
    display: flex;
    flex-direction: column;
  }

  .mat-card{
    width: 600px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .mat-radio-group{
    display: flex;
    justify-content: space-evenly;
  }

  .leave-day-types{
    display: flex;
    justify-content: space-evenly;
  }

  .datepicker{
    display: flex;
    justify-content: space-evenly;
  }

  .label-text{
    margin-bottom: 15px;
    background-image: linear-gradient(to right, #b39ddb , white);
    padding: 1px 1px 1px 4px;
  }
  .mat-card-actions{
    margin-top: 20px;
  }

  .button-panel{
  }

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(22, 22, 22), 
                0 1px 1px 0 rgba(22, 22, 22), 
                0 1px 3px 0 rgba(22, 22, 22);
}